*{
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    align-self: center;
}
#go, #nogo{
    margin-bottom: 3em;
    margin-top: 2em;
    width: 9em;
}
#go{
    margin-right: 1em;
}
#nogo{
   
}
body{
    background-image: url(../images/singupimg/chuttersnap-579434-unsplash.jpeg);
    background-color: white;
    background-repeat: inherit;
    background-size: 100%;
}